<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yummy Recipe</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('build/RecipeCardStyles.css')}}" />
    <link rel="stylesheet" href="{{asset('build/HeaderStyles.css')}}" />
    <link rel="stylesheet" href="{{asset('build/slideShow.css')}}" />
    <link rel="stylesheet" href="{{asset('build/footer.css')}}" />

    {% endblock %}
  </head>

   <body>
   {% block body %}
        <header>
        {% block header %}
        <h1>Yummy Recipe</h1>

        

        <nav>
            <ul>
            <li><a href="{{ path('Home') }}" class="active">Home</a></li>
            <li><a href="{{ app.user ? path('app_logout') : path('app_login')  }}">{{ app.user ? 'Logout' : 'Login' }} </a></li>
            <li><a href="{{ path('app_register') }}">Sign Up</a></li>
            </ul>
        </nav>
        {% endblock %}
        </header>

        <main>
            <section class="mySlides">
            {% for rec in recipe %}
                <div class="slideshow-container">
                    <div class="slideContent">
                        <div
                            class="img+title"
                            style="width: 25%; margin-left: 15%; margin-bottom: 10%;"
                        />

                        <img
                        class="fade"
                        src="{{rec.dishImage}}"
                        style="margin-left: 15%;"
                        />

                        <div class="text translate">{{rec.dishname}}</div>
                    </div>

                    <div class="description">
                        <div class="intro">
                            <h1>CRAFTED CULINARY CREATIONS </h1>
                            <br />
                            <h2>WHERE EVERY RECIPE TELLS A STORY</h2>
                        </div>

                        <p class="descriptionText">
                        {{rec.dishDescription}}
                        </p>

                    </div>

                    {% if app.user %}
                        <a  href="{{ path('recipe', { 'id': rec.id }) }}" style="uppercase border border-brown-500 text-black-600 text-lg py-4 px-12
                            rounded transition transition-all hover:bg-gray-800 hover:text-white"> 
                            Keep Reading
                        </a> 
                    {% endif %}
                     
                    
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                
            {% endfor %}
            </section>
        </main> 

       
    {% endblock %}
    </body>

    <footer>
      <div class="footer-container">
        <div class="footer-icons">
          <img src="build/images/instagram.png" alt="ig" class="footer-icon" />
          <img src="build/images/facebook.png" alt="fb" class="footer-icon" />
          <img src="build/images/youtube.png" alt="yt" class="footer-icon" />
          <img src="build/images/twitter.png" alt="tw" class="footer-icon" />
        </div>
        <h1 class="copyrights">Copyrights © 2024 All Rights Reserved. YUMMY RECIPE.</h1>
      </div>
    </footer>    
   
</html> 