<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yummy Recipe</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{asset('build/RecipeCardStyles.css')}}" />
    <link rel="stylesheet" href="{{asset('build/HeaderStyles.css')}}" />
    <link rel="stylesheet" href="{{asset('build/slideShow.css')}}" />
    <link rel="stylesheet" href="{{asset('build/footer.css')}}" />

    {% endblock %}
  </head>
  <body>
   {% block body %}
        <header>
        {% block header %}
        <h1>Yummy Recipe</h1>

        <nav>
            <ul>
            <li><a href="{{ path('Home') }}"  class="active">Home</a></li>
            <li><a href="/signIn">Sign In</a></li>
            <li><a href="/signUp">Sign Up</a></li>
            </ul>
        </nav>
        {% endblock %}
        </header>

        <main>
            <section class="mySlides">
            
                <div class="slideshow-container">
                    <div class="slideContent">
                        <div
                            class="img+title"
                            style="width: 25%; margin-left: 15%; margin-bottom: 10%;"
                        />

                        <img
                        class="fade"
                        src="{{recipe.dishImage}}"
                        style="margin-left: 15%;"
                        />

                        <div class="text translate">{{recipe.dishname}}</div>
                    </div>

                    <div class="description">
                        <div class="intro">
                            <h1>CRAFTED CULINARY CREATIONS </h1>
                            <br />
                            <h2>WHERE EVERY RECIPE TELLS A STORY</h2>
                        </div>

                        <p class="descriptionText">
                        {{recipe.dishDescription}}
                        </p>

                    </div>
                    <div>
                        <h2> Ingredients</h2> 
                        <li>{{recipe.ingredients}}</li>

                        <h2> Steps</h2> 
                        <li>{{recipe.steps}}</li>

                    </div> 
                    
                </div>
                
            
            </section>
        </main> 

       
    {% endblock %}
    </body>


    <footer>
      <div class="footer-container">
        <div class="footer-icons">
          <img src="build/images/instagram.png" alt="ig" class="footer-icon" />
          <img src="build/images/facebook.png" alt="fb" class="footer-icon" />
          <img src="build/images/youtube.png" alt="yt" class="footer-icon" />
          <img src="build/images/twitter.png" alt="tw" class="footer-icon" />
        </div>
        <h1 class="copyrights">Copyrights © 2024 All Rights Reserved. YUMMY RECIPE.</h1>
      </div>
    </footer>    
   
</html> 